.navigation {
    position: relative;
    background-color: rgb(199, 209, 245);
    width: 100% !important;
    overflow: hidden !important;
}
/* Primer za povećanje z-index za navbar */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}


ul {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
}

ul a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

ul button
{
    margin-left: 0px;
}
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    z-index: 100;
    width: 100%;
    position: relative; /* ili možete izostaviti ovo */
    bottom: 0; /* Samo ako želite da footer bude pri dnu sadržaja */


}


.footer p
{
    font-size: 0.7rem;
}

.second-part
{
    margin-left: auto;
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
}

.comment-card
{
    border-radius: 10px;
    border: 1px solid black;
    width: 20rem;
    height: 8rem;
    background-color: aliceblue;
    margin-left: 13rem;
    top: 2rem;
    margin-bottom: 1.5rem;
}

.comment-card p
{
    text-align: left;
    margin-left: 5px;
}

.text-com
{
    text-align: left;
    margin-left: 5px;
}